.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  button {
    background-color: transparent;
    border: none;
    margin-top: 64px;
    padding: 4px 8px;
    color: #f1900080;
    text-decoration: none;
    &:hover {
      color: #f19000;
    }
  }
}

.login-box {
  background-color: #d7d7d7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 480px;
  height: 280px;
  color: #363f5f;
}

.login-box h1 {
  color: #363f5f;
  text-align: left;
  font-size: 14px;
  margin-bottom: 12px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  font-size: 12px;
}

.login-box a.forgot {
  text-align: left;
  text-decoration: none;
  color: #363f5f;
  font-size: 12px;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background-color: #363f5f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 32px;
}

.login-box button:hover {
  background-color: #363f5f97;
}
