.headerContainer {
  background-color: #475569;

  .headerContent {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    padding: 2rem 1rem 12rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    strong {
      font-size: 32px;
      color: #fff;
    }

    button {
      font-size: 1rem;
      color: #fff;
      background-color: #475569;
      border: 0;
      border-radius: 0.25rem;
      padding: 0 2rem;
      height: 3rem;
      transition: filter 0.3s;

      &:hover {
        filter: brightness(0.9);
      }
    }
  }
}
